.clients{
   
   
   @media screen and (min-width: $desktop){
    
   &__list{
       display: flex;
       justify-content: center;
       align-items: center;

       margin: 0px;
       padding: 0px;
    }

    &__card:not(:last-child){
       margin-right: 30px;
    }

    &__nav{
        display: flex;
        width: 170px;
        height: 92px;
        border-radius: 4px;
        color: $iconfill;
        border: 1px solid $iconfill;
    
        justify-content: center;
        align-items: center;
    
        transition: color $transitoin-property,
        border-color $transitoin-property;

        &:hover, &:focus{
            color: $brandblue;
            border-color: $brandblue;
        }
    }
    
    &__icon{
        fill: currentColor; 
    }

    }
}