.footer{
    background-color: $dbgcolorblack;
    padding-top: 60px;
    padding-bottom: 60px;

    &__columns{
        display: flex;
        justify-content: space-evenly;
    }

    &__logo{
        color: $brandwhite;
        display: block;
        margin-bottom: 20px;
    }

    &__socillinks{
        margin-top: 12px;
        margin-left: 70px;
    }

    &__socillink{
        background-color: rgba(255, 255, 255, 0.1);
        color: $brandwhite;
    }

    &__title{
        margin: 0px;
        padding: 0px;
    
        text-transform: uppercase;
        font-weight: 700px;
        font-size: 14px;
        color: $brandwhite;
        margin-bottom: 20px;
    }

    &__link{
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        color:$whiteop;
        letter-spacing: 0.03em;
        
        transition: color $transitoin-property;

        &:hover, &:focus{
            color:$brandblue;
        }
        }

    &__adress {
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        color: $brandwhite;
        letter-spacing: 0.03em;
        
        transition: color $transitoin-property;

        &:hover, &:focus{
            color:$brandblue;
        }
        }


    &__list{
        margin: 0px;
        padding: 0px;
    }

    &__item:not(:last-child){
        display:block;
        margin-bottom: 9px;
    }
    &__form{
        margin-top: 12px;
        margin-left: 93px;
    }

    &__caption{
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        color: $brandwhite;
        
        padding-bottom: 20px;
    }
}

// form in footer
.form{
    display: flex;  
    justify-content: center;
    align-items: center;


    &__mail{
        height: 50px;
        width: 358px;
        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    
        padding: 15px;
        margin-right: 12px;
    
        color: $brandwhite;

        &::placeholder{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
    background-color: $brandblue;
    border-radius: 4px;
    border: none;

    cursor: pointer;

    transition: background-color $transitoin-property;

    &__text{
        color: $brandwhite;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
    
        margin: 0;
        padding: 0;
        margin-right: 10px;
    
    }
    
    &__icon{
        fill: $brandwhite;
    }

    &:focus, 
    &:hover{
        background-color:$button-focus;
    }
}