.menu{
    

    display: none;
    margin: 0px;
    padding: 0px;

    // position: fixed;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // background-color: $brandwhite;

    &__button{
        display: block;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        border:none;
        background-color: inherit;
        cursor: pointer;

        &:hover, &:focus{
            fill: $brandblue;
        }

        .icon-cross{
            display: none;
        }

        &.is-open .icon-cross{
            display: block;
        }

        &.is-open .icon-menu{
            display: none;
        }
    }

    @media screen and (min-width: $desktop){
    font-weight: 500;
    display: flex;
    margin-left: 93px;

    &__button{
        display: none;
    }

    &__item:not(:last-child){
        margin-right: 50px;
    }


    &__link{
        text-decoration: none;
        color: $blacknav;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        position: relative;
        display: flex;
        align-items: center;
    
        transition: color $transitoin-property;

        .active-page > &::after{
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $brandblue;
            bottom: -33px;
        
        }

        &:hover, &:focus{
            color: $brandblue;  
        }

    }
    }

}