@mixin link ($color) {

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;

    color: $color;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.18;
}


.mobile{

&__button{

    position: absolute;

    right: 0;
    display: block;
    
    padding: 0;
    margin: 0;

    width: 40px;
    height: 40px;
    border:none;
    background-color: inherit;
    cursor: pointer;

    &:hover, &:focus{
        fill: $brandblue;
    }

    // .icon-cross{
    //     display: none;
    // }
    

    // &.is-open .icon-cross{
    //     display: block;
    // }

    // &.is-open .icon-menu{
    //     display: none;
    // }

    @media screen and (min-width: $desktop){
      display: none;
    }
}

&__form{
    
    display: none;

    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    margin: 0;

    padding-top: 48px;
    // padding-bottom: 48px;
    padding-left: 40px;

    background-color: $brandwhite;

    &.is-open{
        display: block;
    }

    @media screen and (min-width: $desktop){
        display: none;
    }

    .mobile__button{
        top:10px;
        right: 15px;
    }

}

&__item{

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
    &:not(:last-child){
        margin-bottom: 32px;
    }

}

&__link{

    @include link ($blacknav);
    font-size: 40px;


    &:hover,&:focus{
        color: $brandblue;
    }

    &--blue {
        @include link ($brandblue);
        font-size: 34px;
        
    }

    &--gray{
    @include link ($brandgray);
    font-size: 24px;
    }
}

&__socials{

    display: flex;
    align-items: center;
    margin-left: right;

    margin: 0;
    padding: 0;
}

&__adress{

    margin-bottom: 64px;
}

&__nav-box{

    display: block;
    position: absolute;
    bottom: 48px;
}

}

.socials{
    &__item{
        margin: 0;
        padding: 0;
        display: block;
        
        &:not(:last-child){
            border-right: 1px solid rgba(33, 33, 33, 0.2);;
        }
        
        &:not(:first-child){
            margin-left: 10px;
        }
    }

    &__link{
        text-decoration: none;
        margin: 0;
        padding: 0;
        padding-right: 10px;

        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: $brandblue;
    }
}
